body {
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  margin: 0; padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  * {
    box-sizing: border-box;
}
container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
}
header {
  display: block;
}
header {
  background-color: cornflowerblue;
}
div {
  display: block;
}
.container header-container {
  background-color: cornflowerblue;
}
.nav-list {
  display: flex;
  align-items: center;
}
html {
  scroll-behavior: smooth; 
}
.nav-list {
  list-style: none;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
.nav-link {
  text-decoration: none;
}
.nav-link {
  color: blueviolet;
}
.nav-link {
  font-size: 24px;
}
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid #9400d3;
}
.section-title {
  font-size: 32px;
  color:darkslateblue;
  font-weight: bold;
}
  


